精神力有什么用:
    1.精神力高于80%时格挡10%的伤害,同时消耗精神力
    2.精神力低于45%时额外受到10%的伤害
    3.魂兽也存在精神力,若魂兽的精神力与你精神力差不多,魂兽可凭借精神力隐藏自己的实力,可使用(探查)消耗精神力探查其状态
    4.可使用 精神攻击@某 随机发射 12~20%(可指定) 的最大精神力的值 对目标造成同等值的精神损失 最大造成 ${a}%的精神力
        若目标不足及承受发射的精神力;则将额外造成,剩余可作用的精神力的值的${b}倍的伤害最大造成目标${c}%的最大生命值,魂兽不受其最大生命值限制
