修炼
信息
闭关/取消闭关
详细信息 #查看信息
升级 #经验足够时
觉醒 #2级时用来觉醒武魂
转生 #重置信息
商城/商店/商场
背包/我的背包 #查看背包
说明 #见商城)
购买 #见商城)
使用 #见背包)
物品转让<Name><At>
列表
进入 #见列表
====请求支援 #遇到魂兽时请求
支援<At>
探查 #查看当前魂兽信息
吸收<N>年魂环
魂环配置 #展示魂环
购买金魂币<Value> #2积分1个
精神冲击<Any>
侦查<At>
升级第<几>魂环
取名封号<名字>
====选择<攻击/逃跑>
#当遇到魂兽时使用
换积分<Value>
#用金魂币换积分1金魂币1.5积分(多出500的金魂币才能换)
等级排行
称号 #查看所有称号
武魂类型 #查看自己的武魂类型是什么
融合武魂 <At>  # 需要融合戒指
魂兽击杀排行
关系列表
收徒<At>
出师
出徒<N>
====魂环吸收限制精神力作用
新机制
名师点怎么获得
我的<buff/效果>
新机制
创建试炼挑战
====#任务相关
接徒弟任务
接每周任务
当前任务
放弃任务
====#积分相关
签到
今日签榜
签榜
取积分<value>
存积分<value>
积分转让/转让积分<At><value>
积分侦查<At>
打工 #赚积分
积分查询/查询积分
猜拳<石头/剪刀/布><value>
抢劫<At>
捐款<At>
我的发言
我的收益
发红包
抢红包