开始成语接龙
搜图 xx
百度搜图 xx
堆糖搜图 xx
发张 xx
掷骰子
随机头像
王者公告
原神公告
捡瓶子/捡漂流瓶
扔瓶子/仍漂流瓶<内容>
王者语音<英雄名><序号>
王者图片<英雄名>
====/推<@>
/推[图片]
/玩球<@>
/玩球[图片]
/丢<@>
/丢[图片]
/滚草<At>
/滚草[图片]
/爬<At>
/举牌子<Text>
/赞<At>
/转字符图<Text>
====解析快手图片<url>
解析抖音图片<url>
解析视频音频<url>
解析图集音频<url>
QQ信息<qq>
QQ群信息<qq>
/搜图<图片>