1.创建宗门<Name>
2.宗门信息
3.宗门列表     #列出所有宗门
4.设置宗门图标<Pic>
5.设置宗门名称<Name>
6.邀请<At>  #邀请加入宗门
7.宗门人数    #查看宗门人数
8.宗门升级
9.退出宗门
10.设置长老<At>
11.取消长老<At>
12.移除成员<At>
13.宗门扩增
14.活跃排行
15.宗门活跃排行
15.宗门转让<At> #将清除活跃值贡献值
宗门的作用请见"宗门作用"