一.宗门等级作用
    1级,宗主每天能免费救援一名宗门内成员(即无状态时救援变有状态)
    2级,宗主和长老都可救援
    3级,经验共享,当宗门内成员猎杀魂兽获得经验时所有成员获得部分经验加成(随等级而每人加成不一样)
    4级,经验共享加成增加
    5级,宗门内所有成员每天共享5次救援机会
    6级,宗门内所有长老及宗主每天多一次"(请求)支援"的次数,27人数
二.如何增加宗门经验
    每${a}个小时成员可使用‘宗门贡献’来贡献与等级相同的贡献点消耗同点金魂币
三.宗门活跃排行
    每周六早结算;
    最活跃宗门;宗主奖励8000金魂币;长老奖励5000金魂币;成员奖励2000金魂币
    次活跃宗门;宗主奖励6000金魂币;长老奖励3500金魂币;成员奖励1500金魂币
    进入活动增加2点活跃
    击败魂兽增加3点活跃
    修炼/双修增加1点活跃
    升级增加5点活跃