[]: 内容必选
N: 任一数值 AT: 任一AT
TIPS: 基本功能
个人信息
打工
签到
存积分[N]
取积分[N]
积分转让[AT][N]
====TIPS: 实用以及娱乐功能
天气[地名]
短时预报[地名]
扔瓶子[内容]
捡瓶子
卫星云图
全球卫星云图
====TIPS: 实用功能且仅QQ群
获取[AT]
我要头衔[NAME] #需群主
点歌系统
====TIPS: 此页内容需要管理权限
开启
关闭