[]: 内容必选 (): 内容为可选
N: 任一数值 AT: 任一AT
TIPS: 基本功能
====TIPS: 实用以及娱乐功能
天气[地名]
中央天气[地名]
彩云天气[地名]
短时预报[地名]
扔瓶子[内容]
捡瓶子
卫星云图
全球卫星云图
娶群友
重娶群友
搜图(图片)
天气订阅[地名]
取消天气订阅
未来天气[addr]
====TIPS: 实用功能且仅QQ群
获取[AT]
我要头衔[NAME] #需群主
点歌系统
====TIPS: 此页内容需要管理权限
开启
关闭
====TIPS: 游戏内容持续完善中..
已经对接 游戏后台 请查看
https://github.com/Kloping/mihdp/wiki